name: testapp
description: A API FETCH WIHT FORM EXAMPLE



version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter


  cupertino_icons: ^0.1.3
  dio: ^3.0.9
  geolocator: ^5.3.1
  geocoder: ^0.2.1
  location: ^3.0.2
  url_launcher: ^5.4.2
  file_picker: ^1.4.2

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:


  uses-material-design: true

  
